<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Participant Information</h3>
  </div>
  <!--panel-heading-->
  <div class="panel-body">
    <div class="form-group">
      <label for="participantId" class="control-label">MNR</label>
      <input class="form-control" placeholder="Participant Identifier" name="participantId" required ng-model="vm.participant.participantId" autofocus />
      <div ng-show="enrollForm.participantId.$dirty && enrollForm.participantId.$error.required">
        <span class="error">Participant Id is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="participantFirstName" class="control-label">First Name</label>
      <input class="form-control" placeholder="First Name" name="participantFirstName" required ng-model="vm.participant.firstName" />
    </div>
    <div ng-show="enrollForm.participantFirstName.$dirty && enrollForm.participantFirstName.$error.required">
      <span class="error">First name is required</span>
    </div>
    <div class="form-group">
      <label for="participantLastName" class="control-label">Last Name</label>
      <input class="form-control" placeholder="Last Name" name="participantLastName" required ng-model="vm.participant.lastName" />
    </div>
    <div ng-show="enrollForm.participantLastName.$dirty && enrollForm.participantLastName.$error.required">
      <span class="error">Last Name is required</span>
    </div>
    <div class="form-group">
      <label for="participantPhoneNumber" class="control-label">Phone Number</label>
      <input class="form-control" placeholder="(___) ___-____" name="participantPhoneNumber" required ui-mask="(999) 999-9999" ng-model="vm.participant.phoneNumber" />
    </div>
    <div ng-show="enrollForm.participantPhoneNumber.$dirty && enrollForm.participantPhoneNumber.$error.required">
      <span class="error">Phone Number is required</span>
    </div>
    <div class="form-group ">
      <label for="participantDateOfBirth" class="control-label">Date of Birth</label>
      <p class="input-group">
        <input type="date" name="participantDateOfBirth" class="form-control" uib-datepicker-popup="{{vm.dobFormat}}" ng-model="vm.participant.dateOfBirth" is-open="vm.status.dobOpened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" show-button-bar="false" placeholder="yyyy-MM-dd" />
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.DOBDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>
    <div ng-show="enrollForm.participantDateOfBirth.$dirty && enrollForm.participantDateOfBirth.$error.required">
      <span class="error">Date of Birth is required</span>
    </div>
    <div class="form-group ">
      <label for="participantSSNLastFour" class="control-label">Last four of SSN</label>
      <input maxlength="4" class="form-control" placeholder="XXXX" name="participantSSNLastFour" ui-mask="9999" ng-model="vm.participant.ssnLastFour" required/>
    </div>
    <div ng-show="enrollForm.participantSSNLastFour.$dirty && enrollForm.participantDateOfBirth.$error.required">
      <span class="error">SSN is required</span>
    </div>
    <div class="form-group">
      <label for="participantPreferredLanguage" class="control-label">Preferred Language</label> (optional)
      <select class="form-control" ng-model="vm.participant.preferredLanguage">
        <option value="">-- Please select a language --</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="form-group has-feedback">
      <label for="participantAddressStreet" class="control-label">Street</label>
      <input class="form-control" placeholder="Street" name="participantAddressStreet" ng-model="vm.participant.address.street" required />
    </div>
    <div ng-show="enrollForm.participantAddressStreet.$dirty && enrollForm.participantAddressStreet.$error.required">
      <span class="error">Streel Address is required</span>
    </div>
    <div class="form-group has-feedback">
      <label for="participantAddressCity" class="control-label">City</label>
      <input class="form-control" placeholder="City" name="participanAddressCity" ng-model="vm.participant.address.city" required/>
    </div>
    <div ng-show="enrollForm.participanAddressCity.$dirty && enrollForm.participanAddressCity.$error.required">
      <span class="error">City is required</span>
    </div>
    <div class="form-group has-feedback">
      <label for="participantAddressState" class="control-label">State</label>
      <select class="form-control" name="participantAddressState" ng-model="vm.participant.address.stateAbbreviation" required>
        <option value="" label="-- Please select a state --"></option>
        <option value="AL" label="Alabama"></option>
        <option value="AK" label="Alaska"></option>
        <option value="AZ" label="Arizona"></option>
        <option value="AR" label="Arkansas"></option>
        <option value="CA" label="California"></option>
        <option value="CO" label="Colorado"></option>
        <option value="CT" label="Connecticut"></option>
        <option value="DE" label="Delaware"></option>
        <option value="FL" label="Florida"></option>
        <option value="GA" label="Georgia"></option>
        <option value="HI" label="Hawaii"></option>
        <option value="ID" label="Idaho"></option>
        <option value="IL" label="Illinois"></option>
        <option value="IN" label="Indiana"></option>
        <option value="IA" label="Iowa"></option>
        <option value="KS" label="Kansas"></option>
        <option value="KY" label="Kentucky"></option>
        <option value="LA" label="Louisiana"></option>
        <option value="ME" label="Maine"></option>
        <option value="MD" label="Maryland"></option>
        <option value="MA" label="Massachusetts"></option>
        <option value="MI" label="Michigan"></option>
        <option value="MN" label="Minnesota"></option>
        <option value="MS" label="Mississippi"></option>
        <option value="MO" label="Missouri"></option>
        <option value="MT" label="Montana"></option>
        <option value="NE" label="Nebraska"></option>
        <option value="NV" label="Nevada"></option>
        <option value="NH" label="New Hampshire"></option>
        <option value="NJ" label="New Jersey"></option>
        <option value="NM" label="New Mexico"></option>
        <option value="NY" label="New York"></option>
        <option value="NC" label="North Carolina"></option>
        <option value="ND" label="North Dakota"></option>
        <option value="OH" label="Ohio"></option>
        <option value="OK" label="Oklahoma"></option>
        <option value="OR" label="Oregon"></option>
        <option value="PA" label="Pennsylvania"></option>
        <option value="RI" label="Rhode Island"></option>
        <option value="SC" label="South Carolina"></option>
        <option value="SD" label="South Dakota"></option>
        <option value="TN" label="Tennessee"></option>
        <option value="TX" label="Texas"></option>
        <option value="UT" label="Utah"></option>
        <option value="VT" label="Vermont"></option>
        <option value="VA" label="Virginia"></option>
        <option value="WA" label="Washington"></option>
        <option value="WV" label="West Virginia"></option>
        <option value="WI" label="Wisconsin"></option>
        <option value="WY" label="Wyoming"></option>
      </select>
    </div>
    <div ng-show="enrollForm.participantAddressState.$dirty && enrollForm.participantAddressState.$error.required">
      <span class="error">State is required</span>
    </div>
    <div class="form-group has-feedback">
      <label for="participantAddressZipCode" class="control-label">Zip Code</label>
      <input class="form-control" placeholder="XXXXX" name="participanAddressZipCode" ui-mask="99999" ng-model="vm.participant.address.zipCode" required/>
    </div>
    <div ng-show="enrollForm.participantAddressZipCode.$dirty && enrollForm.participantAddressZipCode.$error.required">
      <span class="error">Postal Code is required</span>
    </div>
    <div class="form-group">
      <label for="coordinatorName" class="control-label">Coordinator Name</label>
      <select class="form-control" ng-model="vm.CoordinatorName">
        <option value="">-- Please select coordinator --</option>
        <option value="en">Horompoli Zsofia</option>
      </select>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="form-group row">
    <div class="col-xs-3 col-xs-offset-3">
      <a ui-sref="enroll.pathway" class="btn btn-info btn-block"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;Previous </a>
    </div>
    <div class="col-xs-3">
      <input type="button" class="btn btn-success btn-block" ng-disabled="enrollForm.$invalid" value="Enroll" ng-click="vm.enroll()" />
    </div>
  </div>
</div>